/*---------Global variables-----------*/
:root{
/*---------typography-----------*/
--primary-font: 'Montserrat', sans-serif;
--headline-font: 'Leckerli One', cursive;
--fw-l:100;
--fw-b:600;
--fs-base: 10px;
--fs-h1: 3.6rem;
--fs-p: 1.6rem;
--line-h: 1.5;

/*---------colors-----------*/
--primary-color:  #F14F74;
--secondary-color: #E19FAE;
--tetriary-color: #DB2B41;
/*--neutral-lt-color: #F2E2D9;*/
--neutral-lt-color: white;
--accent-color: #BDB0D9;

/*---------helper-----------*/
--spacer: 1rem;
--spacer-dbl: 2rem;
--spacer-thr: 3rem;
--border-radius: 6px;
--shadow: 1px 1px 3px #D9C2BA;
--inner-shadow: 3px 3px 3px rgba(255,255,255,0.2), 0 0 var(--tetriary-color);
--border: solid 15px var(--primary-color);
}


/*---------general-----------*/
html { 
    font-size: var(--fs-base);
    min-width: 100%;
}

body {
    font-family: var(--primary-font);
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*---------Navigation START-----------*/
.logo {
    width: 30%;
    height: auto;
}

.menu {
    font-size: var(--fs-h1);
    color: var(--neutral-lt-color);
    align-self: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav ul{ width: 100%;}

.current{ text-shadow: 3px 3px 2px rgba(0,0,0,.6);}

nav ul li{
padding: 1rem;
border-bottom: solid var(--primary-color) 1px;
}

ul li.logo{ margin-right: auto;}

nav li a {
    font-size: var(--fs-p);
    text-decoration: none;
    display: block;
}

nav ul a:link, nav ul a:visited{
    font-size: var(--fs-p);
    color: var(--neutral-lt-color);
}

nav ul a:hover{ color: var(--neutral-lt-color); }

nav ul a:active{ color: var(--tetriary-color); }

.navigation{
    position:absolute;
    top:100%;
    background-color: var(--secondary-color);
    display: none;
}

.navToggler:checked ~ .navigation{ display: block;}

.closeBtn{display: none;}
.navToggler{display: none;}
.navToggler:checked ~ .navTogglerMenu .closeBtn{display: block;}
.navToggler:checked ~ .navTogglerMenu .openBtn{display: none;}

/*---------Navigation ENDS-----------*/


header{
    background-color: var(--secondary-color);
    border-bottom: var(--border);
    text-align: center;
    padding: var(--spacer);
    width: 100%;
}

#bookNow{
    border-bottom: var(--border);
    display: flex;
    justify-content: center;
    padding: var(--spacer-dbl);
    margin-bottom: var(--spacer-dbl);
    width: 100%;
}

#bookNow .button{
    background-color: var(--primary-color);
    padding: var(--spacer);
    border: none;
    color: var(--neutral-lt-color);
    font-size: 2rem;
    font-family: var(--primary-font);
    text-decoration: none;
}
#bookNow .button i{
    margin-right: var(--spacer);
}

/*---------Main-----------*/

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: var(--spacer-dbl);
}

#home h1{
    font: var(--fs-h1) var(--headline-font);
    margin: var(--spacer-dbl) var(--spacer) var(--spacer);
    color: transparent;
    text-shadow: var(--inner-shadow);
}

#home p{
    width: 60%;
    text-align: center;
    line-height: 1.5;
    font-size: var(--fs-p);
}

#home img{
    width: 100%;
}

.hide{
    display: none;
}

/*---------Footer-----------*/

footer{
    background-color: var(--secondary-color);
    border-top: var(--border);
    padding: var(--spacer) var(--spacer);
    width: 100%;
    margin-top: auto;
    color: var(--neutral-lt-color);
    display: grid;
    gap: var(--spacer);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto;
    line-height: var(--line-h);
    font-size: 1.2rem;
    justify-items: center;
    font-style: italic;
}

footer #social{ 
    grid-column: 1 / span 2; 
    text-align: center;
}

#social p{
    margin-top: var(--spacer);
    font-style:normal;
}

footer i{
    color: var(--neutral-lt-color);
    margin: 0 var(--spacer);
    font-size: 2.5rem;
}

footer h3{
    font-weight: var(--fw-b);
    margin-bottom: var(--spacer);
    font-style: italic;
    font-size: var(--fs-p);
}

footer dd{
    margin-left: var(--spacer-dbl);
}

footer dt{
    font-weight: var(--fw-b);
}

footer a{
    color: var(--neutral-lt-color);
    text-decoration: none;
}

/*---------media-----------*/
@media screen and (min-width: 800px) {

    .navTogglerMenu{
        display: none;
    }

    nav{
        display: flex;
        flex-direction: column;
        gap: var(--spacer);
    }

    nav ul{
        display: flex;}

    .navigation{
        all: unset;
    }

    .navigation{
        display: flex ;
        margin-left: auto;
        list-style-type: none;
        align-items: center;
        padding: 0;  
        width: 100%;
        justify-content: center;
        gap: 1rem;
    }

    .navigation li{
        border-bottom: none;
    }

    nav ul a:link, nav ul a:visited{
        font-size: var(--fs-p);
    }

    .logo {
        width: 10%;
        height: auto;
        max-height: 125px;
        max-width: 125px;
    }

    #bookNow{
        border: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 30px; 
    }

    .hide{
        display: block;
    }

    #home{
        display: grid;
        gap: var(--spacer);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr auto auto;
        justify-items: center;
        width: 90%;
        margin: var(--spacer) auto var(--spacer-thr);
        align-content: center;
        max-width: 1200px;
    }

    #home h1{
        --fs-h1: 4.8rem;
        grid-column: 1 / span 3; 
    }

    #home p{
        width: 60%;
        text-align: center;
        line-height: var(--line-h);
        --fs-p: 2.4rem;
        grid-column: 1 / span 3; 
    }

    #home img{
        width: 100%;
        height: 100%;
    }

    #home picture img{
        width: 100%;
        margin: 0;
    }
    
    footer{
        display: grid;
        gap: var(--spacer-dbl);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        line-height: var(--line-h);
        font-size: 1.6rem;
        justify-items: center;
        align-items: center;
        padding: var(--spacer-dbl) var(--spacer-dbl);
    }

    footer br{
        display: none;
    }

    footer h3{
        font-size: 2.4rem;
    }

    footer #social{  grid-column: 2 ;  }

    #hours{
        order:3;
    }

    #hours dl{
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, 1fr);
    }

    footer section:first-of-type dl{
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr auto;
        max-width: 350px;
        
    }

    footer dd, footer dt{
        margin: 0;
    }
  
}

@media screen and (min-width: 1000px) {

    nav ul a:link, nav ul a:visited{
        font-size: 2.2rem;
    }

    header{
        max-height: 220px;
    }

    nav{
        max-height: 220px;
    }

    #bookNow{
        border: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50px; 
    }



}


